body {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 0, 0.3),
        rgba(255, 255, 0, 0.1)
    );
    font-size: 1.15em;
    text-transform: uppercase;
    text-align: justify;
    font-family: 'Mouse Memoirs', sans-serif;
    /* font-family: 'Arial', sans-serif; */
}

.say {
    font-family: 'Anton', sans-serif;
    /* font-weight: 400; */
}

h1:hover[class="greet"] {
    color: rgba(255, 140, 0);
}

h1[class="greet"] {
    color: blue;
}

li:last-child {
    color: steelblue;
}

.link {
    color: red;
    text-decoration: line-through;
}

/* .link:link {
    color: green;
    text-decoration: none;
} */

/* .link:visited {
    color: cyan;
} */

h2 + a {
    color: green;
}

textarea ~ button {
    color: fuchsia;
}

ul > li {
    color: lawngreen;
}

/* img[src^='../img/'] { */

img {
    border: 10px solid yellow;
}

#img-test {
    border: 10px solid red;
    width: 30%;
    height: 400px;
}

.div-class {
    height: 300px;
    width: 30%;
    background: radial-gradient(circle, red 20%, blue 40%, green 55%);
    /* background: url("../images/img2.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background: linear-gradient(-215deg, red,  rgba(255, 255, 0, 0)); */
}

.italics {
    font-style: oblique;
}