body {
    background: rgb(70, 140, 181);
    font-family: "Anton", sans-serif;
    font-family: "Mouse Memoirs", sans-serif;
}

.sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    background-color: rgb(233, 174, 24);
    /* z-index: 1; */
    top: 0;
    right: 0;
    padding-top: 20px;
    /* overflow-x: hidden; */
}
.sidebarContent {
    margin: 5px 10px 5px 10px;
    border: 2px solid rgb(85, 75, 75);
}

.main {
    margin-right: 27%;
}

#flowersInDark {
    float: right;
    height: 300px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    transition: transform 400ms ease;
    -webkit-transition: transform 400ms ease;
    -moz-transition: transform 400ms ease;
    -ms-transition: transform 400ms ease;
    -o-transition: transform 400ms ease;
}

#flowersInDark:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

.grid > img {
    height: 85%;
    width: 85%;
    margin: 10px 10px 10px 10px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    transition: transform 400ms ease-in-out;
    -webkit-transition: transform 400ms ease-in-out;
    -moz-transition: transform 400ms ease-in-out;
    -ms-transition: transform 400ms ease-in-out;
    -o-transition: transform 400ms ease-in-out;
}

.grid > img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
