<!DOCTYPE html>
<html lang="en">
    {% load static %} {% load tailwind_tags %}
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Anton&family=Mouse+Memoirs&display=swap"
            rel="stylesheet"
        />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel='stylesheet' href='{% static 'css/index_master.css' %}'
        type='text/css'> {% comment %} {% tailwind_css %} {% endcomment %}
        <title>Document</title>
    </head>
    <body>
        <h1 class='say'>SAY IT</h1>
        <h3>bruh?</h3>
        <h1 class="text-3xl font-bold underline hover:bg-pink-500">
            Hello world!
        </h1>
        <h2 class="text-2xl bg-slate-500 hover:bg-amber-500">NIGGER</h2>
        <h1 class="greet">hello</h1>
        <ul>
            <li>carrot</li>
            <li>milk</li>
            <li>potatoes</li>
        </ul>
        <p>
            <a
                class="link"
                href="https://battlelog.battlefield.com/bf4/soldier/Unhaten/stats/1070304524/pc/"
                >go to my stats</a
            >
        </p>
        <h2>Services</h2>
        <a href="">tittie</a>

        <br />
        <p id="spanlorem">
            <span class="italics"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. </span
            >Laudantium ullam repellat quibusdam, est porro illo eligendi
            corrupti assumenda qui quasi iste beatae aliquam ab officiis
            explicabo earum asperiores saepe ipsum.
        </p>

        <form action="">
            <input type="text" name="" placeholder="Name" id="" />
            <input type="email" name="" placeholder="Email" id="" />
            <textarea name="" id="" cols="30" rows="1w"></textarea>
            <button type="submit">Submit</button>
        </form>

        <div class="div-class"></div>

        <img
            id="img-test"
            src="{% static 'images/img1.jpg' %}"
            alt="wrong path"
        />
    </body>
</html>
