<!DOCTYPE html>
<html lang="en">
    {% load static %} {% load tailwind_tags %}
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Anton&family=Mouse+Memoirs&display=swap"
            rel="stylesheet"
        />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel='stylesheet' href='{% static 'css/index_master.css' %}'
        type='text/css'> {% comment %} {% tailwind_css %} {% endcomment %}
        <title>Document</title>
    </head>
    <body>
        <h1 class="say">SAY IT</h1>

        <div class="container">
            {% comment %} <div
                class="container-item"
                style="order: 3;
                flex-grow: 1;
                flex-shrink: ; 
                flex: 1 1 100px;
                align-self: flex-end;
            >
                flex-basis: 100px"  
                A 
            </div> {% endcomment %}
            <div class="container-item" style="order: 3; flex: 1 1 100px; align-self: flex-end;">
                A
            </div>
            <div class="container-item" style="order: 4; flex: 1 1 100px; align-self: center">
                B
            </div>
            <div class="container-item" style="order: 2; flex: 1 1 100px; align-self: center">
                C
            </div>
            <div class="container-item" style="order: 1; flex: 1 3 100px; align-self: flex-start">
                D
            </div>
            <div class="container-item" style="order: 5; flex: 20 1 100px; align-self: flex-start">
                E
            </div>
            {% comment %}
            <div class="container-item">F</div>
            <div class="container-item">G</div>
            <div class="container-item">H</div>
            <div class="container-item">I</div>
            <div class="container-item">J</div>
            {% endcomment %}
        </div>
        {% comment %} grid-column: 1 / span 2; {% endcomment %}
        {% comment %} grid-row: 1 / span 3; {% endcomment %}
        <div class="grid-container">
            <div class='grid-item' style='background: rgba(255, 155, 155); 

            grid-area: 1 / 3 / span 3 / span 2;
            '>1</div>
            <div class='grid-item' style='background: rgba(155, 255, 155)'>2</div>
            <div class='grid-item' style='background: rgba(255, 155, 255)'>3</div>
            <div class='grid-item' style='background: rgba(255, 200, 155)'>4</div>
            <div class='grid-item' style='background: rgba(155, 255, 255)'>5</div>
            <div class='grid-item' style='background: rgba(155, 25, 255)'>6</div>
            <div class='grid-item' style='background: rgba(155, 255, 25)'>7</div>
            <div class='grid-item' style='background: rgba(25, 25, 255)'>8</div>
            <div class='grid-item' style='background: rgba(155, 2, 25)'>9</div>
            <div class='grid-item' style='background: rgba(15, 25, 25)'>10</div>
        </div>

        <h3>bruh?</h3>
        <h1 class="text-3xl font-bold underline hover:bg-pink-500">
            Hello world!
        </h1>
        <h2 class="text-2xl bg-slate-500 hover:bg-amber-500">NIGGER</h2>
        <h1 class="greet">hello</h1>
        <ul class="ul-stuff">
            <li>carrot</li>
            <li>milk</li>
            <li>potatoes</li>
        </ul>
        <img src="{% static 'images/img3.jpg'%}" id="img_penguin" alt="" />
        <p>
            <a
                class="link"
                href="https://battlelog.battlefield.com/bf4/soldier/Unhaten/stats/1070304524/pc/"
                >go to my stats</a
            >
        </p>
        <h2>Services</h2>
        <a href="">tittie</a>

        <br />
        <p id="spanlorem">
            <span class="italics"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. </span
            >Laudantium ullam repellat quibusdam, est porro illo eligendi
            corrupti assumenda qui quasi iste beatae aliquam ab officiis
            explicabo earum asperiores saepe ipsum.
        </p>


        <div class="div-class"></div>

        <img
            id="img-test"
            src="{% static 'images/img1.jpg' %}"
            alt="wrong path"
        />

        <p id='loremStuff'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla optio
            hic non illum delectus ullam ex magni eveniet. Sequi rem reiciendis
            sint, totam vero voluptatibus veritatis accusamus voluptas et
            deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nulla optio hic non illum delectus ullam ex magni eveniet. Sequi rem
            reiciendis sint, totam vero voluptatibus veritatis accusamus
            voluptas et deleniti!Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nulla optio hic non illum delectus ullam ex magni
            eveniet. Sequi rem reiciendis sint, totam vero voluptatibus
            veritatis accusamus voluptas et deleniti!Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Nulla optio hic non illum delectus
            ullam ex magni eveniet. Sequi rem reiciendis sint, totam vero
            voluptatibus veritatis accusamus voluptas et deleniti!Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Nulla optio hic non
            illum delectus ullam ex magni eveniet. Sequi rem reiciendis sint,
            totam vero voluptatibus veritatis accusamus voluptas et
            deleniti!Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nulla optio hic non illum delectus ullam ex magni eveniet. Sequi rem
            reiciendis sint, totam vero voluptatibus veritatis accusamus
            voluptas et deleniti!Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nulla optio hic non illum delectus ullam ex magni
            eveniet. Sequi rem reiciendis sint, totam vero voluptatibus
            veritatis accusamus voluptas et deleniti!Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Nulla optio hic non illum delectus
            ullam ex magni eveniet. Sequi rem reiciendis sint, totam vero
            voluptatibus veritatis accusamus voluptas et deleniti! Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Nulla optio hic non
            illum delectus ullam ex magni eveniet. Sequi rem reiciendis sint,
            totam vero voluptatibus veritatis accusamus voluptas et deleniti!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla optio
            hic non illum delectus ullam ex magni eveniet. Sequi rem reiciendis
            sint, totam vero voluptatibus veritatis accusamus voluptas et
            deleniti!Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nulla optio hic non illum delectus ullam ex magni eveniet. Sequi rem
            reiciendis sint, totam vero voluptatibus veritatis accusamus
            voluptas et deleniti!Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nulla optio hic non illum delectus ullam ex magni
            eveniet. Sequi rem reiciendis sint, totam vero voluptatibus
            veritatis accusamus voluptas et deleniti!Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Nulla optio hic non illum delectus
            ullam ex magni eveniet. Sequi rem reiciendis sint, totam vero
            voluptatibus veritatis accusamus voluptas et deleniti!Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Nulla optio hic non
            illum delectus ullam ex magni eveniet. Sequi rem reiciendis sint,
            totam vero voluptatibus veritatis accusamus voluptas et
            deleniti!Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nulla optio hic non illum delectus ullam ex magni eveniet. Sequi rem
            reiciendis sint, totam vero voluptatibus veritatis accusamus
            voluptas et deleniti!Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nulla optio hic non illum delectus ullam ex magni
            eveniet. Sequi rem reiciendis sint, totam vero voluptatibus
            veritatis accusamus voluptas et deleniti! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Nulla optio hic non illum delectus
            ullam ex magni eveniet. Sequi rem reiciendis sint, totam vero
            voluptatibus veritatis accusamus voluptas et deleniti! Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Nulla optio hic non
            illum delectus ullam ex magni eveniet. Sequi rem reiciendis sint,
            totam vero voluptatibus veritatis accusamus voluptas et
            deleniti!Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nulla optio hic non illum delectus ullam ex magni eveniet. Sequi rem
            reiciendis sint, totam vero voluptatibus veritatis accusamus
            voluptas et deleniti!Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nulla optio hic non illum delectus ullam ex magni
            eveniet. Sequi rem reiciendis sint, totam vero voluptatibus
            veritatis accusamus voluptas et deleniti!Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Nulla optio hic non illum delectus
            ullam ex magni eveniet. Sequi rem reiciendis sint, totam vero
            voluptatibus veritatis accusamus voluptas et deleniti!Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Nulla optio hic non
            illum delectus ullam ex magni eveniet. Sequi rem reiciendis sint,
            totam vero voluptatibus veritatis accusamus voluptas et
            deleniti!Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nulla optio hic non illum delectus ullam ex magni eveniet. Sequi rem
            reiciendis sint, totam vero voluptatibus veritatis accusamus
            voluptas et deleniti!Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Nulla optio hic non illum delectus ullam ex magni
            eveniet. Sequi rem reiciendis sint, totam vero voluptatibus
            veritatis accusamus voluptas et deleniti!
        </p>

        
        <form action="">
            <input type="text" name="" placeholder="Name" id="" />
            <input type="email" name="" placeholder="Email" id="" />
            <textarea name="" id="" cols="30" rows="1w"></textarea>
            <br>
            <button type="submit" id='buttonie'>Submit</button>
        </form>
    </body>
</html>
